body{
	background-image: url('https://typesoftype.com/static/images/index/index-header-bg.jpg');
}

h1{
	text-align: center;
	color: whitesmoke;
	font-size: 60px;
}

.search-container{
	display: flex;
	justify-content: center;
}

.large-box{
	width: 50vh;
}

.small-box{
	width: 10vh;
}

.img-sizer{
	margin: 50px;
	height: 33.75vh;
	width: 60vh;	
}

.results {
	display: flex;
	justify-content: center;
}